.gradle
.idea
gradle
gradlew
gradlew.bat
build
.DS_Store
.gradle
.idea
.classpath
.project
build
target
out
*.iml
*.ipr
*.iws
*.class
*.swp
.vertx
build/
bin/
.idea/
build/
/bin/
.project
settings/
.settings/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar